@import '../css/vendors/bs-x5/bootstrap';
@import '../css/partials/fonts';
@import '../css/partials/base';


.our-solar-services-wrapper {
    position: relative;

    figure {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }
        .image-overlay{
            position: absolute;
            top: 0;
            left: 0;
            background-color: $black-color;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            z-index: -1!important;
        }

    }
}

.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    h1{
        color: $primary-color;
    }

}

.our-services {
    padding: 30rem 0 3rem 0;


    .content-box {
        padding: 1rem;
        background-color: $white-color;
        height: 100%;
        h4{
            margin-bottom: 1rem;
        }

    }
}




@import '../css/partials/mediaquery';